---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}
  {% if page.url and page.outputPath and page.data.eleventyExcludeFromSitemap != true %}
  <url>
    <loc>{{ page.url | toAbsoluteUrl }}</loc>
    {% if page.date %}
    <lastmod>{{ page.date | isoDate }}</lastmod>
    {% endif %}
  </url>
  {% endif %}
{% endfor %}
</urlset>
